<ion-header>
  <ion-toolbar>
    <ion-title>KONTO HINZUFÜGEN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label color="primary" position="floating">Kontobezeichnung</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Beschreibung</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Kontotyp</ion-label>
      <ion-select value="1" ok-text="Weiter" cancel-text="Abbrechen">
        <ion-select-option value="1">Bar</ion-select-option>
        <ion-select-option value="3">Konto</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" href="/tabs/(balance:balance)">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="secondary" href="/tabs/(balance:balance)">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>