<ion-header>
	<ion-toolbar>
		<ion-title>
			Auth with Ionic
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<form [formGroup]="inputForm">
		<ion-radio-group formControlName="providers">
			<ion-list-header>
				<ion-label>Login</ion-label>
			</ion-list-header>
			<ion-item>
				<ion-label>
					Google
				</ion-label>
				<ion-radio value="google" slot="start" checked></ion-radio>
			</ion-item>
			<ion-item>
				<ion-label>
					Email
				</ion-label>
				<ion-radio value="email" slot="start" ></ion-radio>
			</ion-item>
		</ion-radio-group>
		<ion-item>
			<ion-label position="floating">Email</ion-label>
			<ion-input type="email" formControlName="email"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="floating">Password</ion-label>
			<ion-input type="password" formControlName="password" ></ion-input>
		</ion-item>
	</form>
	<button ion-button outline (click)="login()">Login</button>  
  	<button ion-button outline (click)="signOut()">Logout</button>
  	<button ion-button outline (click)="register()">Register</button>
</ion-content>
<ion-item text-wrap>
	{{outputMessage}}
</ion-item>
<ion-item text-wrap>
	Current user: {{!user ? 'None' : (!!user.displayName ? user.displayName : user.email)}}
</ion-item>