<ion-header>
  <ion-toolbar>
    <ion-title>
      Auth with Ionic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="inputForm">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
  </form>
  <ion-button outline (click)="login()">Login</ion-button>
  <ion-button outline (click)="signOut()">Logout</ion-button>
  <ion-button outline (click)="register()">Registrieren</ion-button>
</ion-content>
<ion-item text-wrap>
  {{outputMessage}}
</ion-item>
<ion-item text-wrap>
  Current user: {{!user ? 'None' : (!!user.displayName ? user.displayName : user.email)}}
</ion-item>