<ion-tabs>
  <ion-tab label="Home" icon="home" href="/tabs/(home:home)">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Kontostand" icon="cash" href="/tabs/(konto:konto)">
    <ion-router-outlet name="konto"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Transaktionen" icon="card" href="/tabs/(transactions:transactions)">
    <ion-router-outlet name="transactions"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Sparpläne" icon="wallet" href="/tabs/(plans:plans)">
    <ion-router-outlet name="plans"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
