<ion-header>
  <ion-toolbar>
    <ion-title>Neuer Sparplan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="inputForm">
    <ion-item>
      <ion-label color="primary" position="floating">Gesamtsparbetrag</ion-label>
      <ion-input type="number" formControlName="gesamtbetrag"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Zu sparen bis:</ion-label>
      <ion-datetime #myPicker (ionChange)="updateMyDate(myPicker.value)" min="2018" max="2100" display-format="DD.MM.YYYY" picker-format="DD MMMM YYYY"
        placeholder="01.01.2019" done-text="Weiter" cancel-text="Abbrechen" month-names="Januar, Februar, März, April, Mai, Juni, Juli, August, September, Oktober, November, Dezember"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Intervall:</ion-label>
      <ion-select formControlName="intervall" ok-text="Weiter" cancel-text="Abbrechen">
        <ion-select-option value="1">Monatlich</ion-select-option>
        <ion-select-option value="3">Vierteljährlich</ion-select-option>
        <ion-select-option value="6">Halbjährlich</ion-select-option>
        <ion-select-option value="12">Jährlich</ion-select-option>
      </ion-select>
    </ion-item>
  </form>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button color="secondary" (click)="presentSavingsPlan()">Hinzufügen</ion-button>
  </ion-fab>
</ion-content>