<ion-header>
  <ion-toolbar>
    <ion-title>KONTEN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<ion-item href="../account">
  <ion-card>
    <ion-card-content>
      <ion-card-title color="primary">100.000.000$</ion-card-title>
      <p>Kontoname</p>
    </ion-card-content>
  </ion-card>
</ion-item>  

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" href="../addAccount">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>