<ion-header>
  <ion-toolbar>
    <ion-title>NEUE TRANSAKTION</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-select type="radiobutton">
      <ion-select-option value="ausgabe">+</ion-select-option>
      <ion-select-option value="einnahme">-</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
        <ion-label color="primary" position="floating">Summe</ion-label>
        <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Bezeichnung</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Datum</ion-label>
      <ion-datetime display-format="DD.MM.YYYY" picker-format="DD MMMM YYYY" placeholder="01.01.2019" done-text="Weiter" cancel-text="Abbrechen"
        month-names="Januar, Februar, März, April, Mai, Juni, Juli, August, September, Oktober, November, Dezember"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Kategorie</ion-label>
      <ion-select>
      <ion-grid>
        <ion-row>
          <ion-col style="background:#008a0b"><ion-select-option value="essen">Essen</ion-select-option></div></ion-col>
          <!-- <ion-col style="background:#0067ee"><div>Bildung</div></ion-col>
          <ion-col style="background:#ac0017"><div>Kino</div></ion-col> -->
        </ion-row>
      </ion-grid>
    </ion-select>
    </ion-item>    

<!--       
      <ion-select value="1" ok-text="Weiter" cancel-text="Abbrechen">
        <ion-select-option value="1">Monatlich</ion-select-option>
        <ion-select-option value="3">Vierteljährlich</ion-select-option>
        <ion-select-option value="6">Halbjährlich</ion-select-option>
        <ion-select-option value="12">Jährlich</ion-select-option>
      </ion-select> -->
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button color="secondary" href="/tabs/(transactions:transactions)">
      Hinzufügen
    </ion-button>
  </ion-fab>
</ion-content>
