<ion-header>
  <ion-toolbar>
    <ion-title>TRANSAKTIONEN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list *ngFor="let transaction of transactions">
    <ion-item>
      <ion-card (click)="openTransaction(transaction)">
        <ion-card-content>
          <ion-card-title color="primary">{{transaction.purpose}}</ion-card-title>
          <p class="betrag">{{transaction.amount}} €</p>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>s

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button style="color:green" (click)="addTransaction('+')">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button style="color:red" (click)="addTransaction('-')">
        <ion-icon name="remove"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>