<ion-header>
  <ion-toolbar>
    <ion-title>TRANSAKTIONEN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card href="../transaction">
        <ion-card-content>
          <ion-card-title color="primary">Bezeichnung</ion-card-title>
          <p>Konto</p>
          <p class="betrag">+1.000.000</p>
        </ion-card-content>
      </ion-card>

  <!-- <ion-spinner name="crescent" color="success"></ion-spinner> -->
    <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button color="secondary"><ion-icon name="add"></ion-icon></ion-fab-button>

      <ion-fab-list side="top">
        <ion-fab-button  style="color:green" href="../addTransactionFromTransactionspage">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-button  style="color:red" href="../addMinusTransactionFromTransactionspage">
          <ion-icon name="remove"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>

    </ion-fab>
   </ion-content>

<!-- 
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="secondary" href="../addTransaction">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>  

    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button color="secondary" href="../addTransaction">
          <ion-icon name="remove"></ion-icon>
        </ion-fab-button>
      </ion-fab>
</ion-content> -->