<ion-header>
  <ion-toolbar>
    <ion-title>TRANSAKTIONEN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-card href="../transaction">
        <ion-card-content>
          <ion-card-title color="primary">Bezeichnung
          </ion-card-title>
          <p>Konto</p>
          <h3 class="betrag">1.000.000</h3>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button style="color:green" (click)="addTransaction('+')">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button style="color:red" (click)="addTransaction('-')">
        <ion-icon name="remove"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>