<ion-header>
  <ion-toolbar>
    <ion-title>NEUE TRANSAKTION</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label color="primary" position="floating">Summe</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Bezeichnung</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <p color="primary">Datum: Heute</p>
      <ion-checkbox [(ngModel)]="heute"></ion-checkbox>
    </ion-item>

    <ion-item *ngIf="!heute">
      <ion-datetime display-format="DD.MM.YYYY" picker-format="DD MMMM YYYY" placeholder="Datum auswählen ..."
        done-text="Weiter" cancel-text="Abbrechen" month-names="Januar, Februar, März, April, Mai, Juni, Juli, August, September, Oktober, November, Dezember"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Kategorie</ion-label>
      <ion-select done-text="Weiter" cancel-text="Abbrechen">
        <ion-select-option value="essen">Essen</ion-select-option>
        <ion-select-option value="trinken">Trinken</ion-select-option>
        <ion-select-option value="neueKategorie" href="../addCategory">
          <ion-item><button ion-button href="../addCategory">Neue Kategorie erstellen ...</button></ion-item>
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Konto</ion-label>
      <ion-select done-text="Weiter" cancel-text="Abbrechen">
        <ion-select-option value="Geldbörse">Essen</ion-select-option>
        <ion-select-option value="Girokonto">Trinken</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="secondary" href="/tabs/(transactions:transactions)">
        <ion-icon name="checkmark"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button color="secondary" href="/tabs/(transactions:transactions)">
        <ion-icon name="close"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>