<ion-header>
  <ion-toolbar>
    <ion-title>TRANSAKTION</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Farbe der Kategorie -->

<ion-content padding>
  <ion-list>
    </ion-item>
    <h3>Bezeichnung</h3>
    <ion-label>Transaktionsname</ion-label>
    <h3>Betrag</h3>
    <ion-label>+ 50</ion-label>
    <h3>Erstellungsdatum</h3>
    <ion-label>21.09.2018</ion-label>
    <h3>Buchungsdatum</h3>
    <ion-label>22.09.2018</ion-label>
    <h3>Kategorie</h3>
    <ion-label>Essen</ion-label>
    <ion-item>
  </ion-list>
</ion-content>