<ion-header>
  <ion-toolbar>
    <ion-title>TRANSAKTION</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Farbe der Kategorie -->

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label color="primary">Bezeichnung</ion-label>
    </ion-item>
    <ion-item>
      <ion-label placeholder="Transakltionsbezeichnung">{{transaction.purpose}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Betrag</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{transaction.amount}} €</ion-label>
    </ion-item>
    <!-- <ion-item>
      <ion-label color="primary">Erstellungsdatum</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{transaction.creationDate}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="primary">Buchungsdatum</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{transaction.executionDate}}</ion-label>
    </ion-item> -->
  </ion-list>
</ion-content>