<ion-header>
  <ion-toolbar>
    <ion-title>SPARPLÄNE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-content>
          <ion-card-title color="primary">200$</ion-card-title>
          <p>Sparkonto</p>
        </ion-card-content>
      </ion-card>

      <ion-card>
          <ion-card-content>
            <ion-card-title color="primary">1.000$</ion-card-title>
            <p>Tagesgeldkonto</p>
          </ion-card-content>
        </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" href="/plansAdd">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>